@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'MODULAR-14';
  src: url('../../src/assets/fonts/MODULAR-14.otf') format('truetype');
  font-weight: normal; /* Ajusta según sea necesario */
  font-style: normal;  /* Ajusta según sea necesario */
}

@font-face {
  font-family: 'ZenDots-Regular';
  src: url('../../src/assets/fonts/ZenDots-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Cambay-Regular';
  src: url('../../src/assets/fonts/Cambay-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../../src/assets/fonts/Montserrat-Regular.ttf') format('truetype');
}
